.App {
  text-align: center;
}

button.active {
  background: #13939a;
}

.MuiButton-root.MuiButton-outlined:hover,
button:hover {
  background-color: #d4d4d5 !important;
}

.MuiButtonGroup-grouped {
  min-width: 59px !important;
}

.MuiIconButton-root.settings-button {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
  0% { background-color: #68d7dd; -webkit-box-shadow: 0 0 3px #68d7dd; }
  100% { background-color: #13939a; -webkit-box-shadow: 0 0 3px #13939a; }
}

@-moz-keyframes glowing {
  0% { background-color: #68d7dd; -webkit-box-shadow: 0 0 3px #68d7dd; }
  100% { background-color: #13939a; -webkit-box-shadow: 0 0 3px #13939a; }
}

@-o-keyframes glowing {
  0% { background-color: #68d7dd; -webkit-box-shadow: 0 0 3px #68d7dd; }
  100% { background-color: #13939a; -webkit-box-shadow: 0 0 3px #13939a; }
}

@keyframes glowing {
  0% { background-color: #68d7dd; -webkit-box-shadow: 0 0 3px #68d7dd; }
  100% { background-color: #13939a; -webkit-box-shadow: 0 0 3px #13939a; }
}